*,
html,
body,
:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.map-wrapper {
  background-color: #000;
}

.minimap {
  position: absolute;
  top: 1rem;
  left: 4rem;

  border-radius: 0.25rem;
  background-color: #00000090;

  filter: brightness(100%);
  -webkit-filter: brightness(100%) !important;

  backdrop-filter: blur(0.25rem);
  -webkit-backdrop-filter: blur(0.25rem);
}

.filter-darker {
  filter: brightness(50%);
  -webkit-filter: brightness(50%) !important;
}

/* can only hide the seat map to zoom correctly */
.hidden-admin {
  left: -10rem;
}

.btn-wrapper {
  gap: 0.5rem;
  padding: 1rem;
  z-index: 100;
}

.btn-wrapper button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  outline: none;
  cursor: pointer;

  border: 1.5px solid #2dc275;
  background-color: #000;
  padding: 5px;
}

.btn-wrapper button svg {
  width: 25px;
  height: 25px;
  background: transparent;
}

.btn-wrapper svg path {
  stroke-width: 2px;
  stroke: #2dc275;
}

#btn-tooltip {
  color: #000;
  background-color: #fff;
  font-family: inherit;
  z-index: 100;
}
